
$base: 8px;
$color-primary: rgb(55, 65, 70);
$color-secondary: rgb(0, 80, 200);
$color-billy: $color-secondary;
$color-warning: #FCB811;
$color-inactive: #E74C3C;
$color-success: #4CAF50;
$color-grey: #d8dee4;

$color-background: rgb(245, 245, 245);